body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

#root > div {
  max-width: 1700px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

div > div {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: #333;
  font-weight: 500;
}

select,
input[type="date"] {
  padding: 8px 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  display: block;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

div > select,
div > input {
  margin-bottom: 15px;
}

/* Bouton */
button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

div > label + input,
div > label + select {
  margin-top: 5px;
}

@media (max-width: 500px) {
  div > select,
  div > input {
    width: 100%;
  }
}

.table-wrapper {
  width: 100%;
  overflow: auto;
  max-height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.table-wrapper table {
  width: max-content;
  border-collapse: collapse;
  border: 2px solid rgb(140, 140, 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.table-wrapper th,
.table-wrapper td {
  border: 1px solid rgb(160, 160, 160);
  padding: 4px 6px;
  text-align: center;
  min-width: 30px;
}

.table-wrapper th[scope="row"] {
  position: sticky;
  left: 0;
  background-color: #505050;
  color: white;
  z-index: 3;
  min-width: 120px;
}

.table-wrapper th[scope="col"] {
  position: sticky;
  top: 0;
  background-color: #505050;
  color: white;
  z-index: 2;
  min-width: 50px;
}
.table-wrapper th[scope="row"]:first-child {
  z-index: 4;
}

/* Lignes alternées */
.table-wrapper tr:nth-of-type(even) {
  background-color: #eeeeee;
}
.table-wrapper tr:nth-of-type(even) {
  background-color: #eeeeee;
}

/* cellules M / A */
.table-wrapper td div {
  font-weight: bold;
}

.table-wrapper td div.mat {
  color: green; /* matin libre */
}

.table-wrapper td div.mat-reserve {
  color: red; /* matin réservé */
}

.table-wrapper td div.apr {
  color: green; /* après-midi libre */
}

.table-wrapper td div.apr-reserve {
  color: red; /* après-midi réservé */
}
.mat,
.apr {
  color: white;
  background-color: green;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 4px;
}

.mat-reserve,
.apr-reserve {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 4px;
}
